<footer class="page-footer font-small bg-secondary pt-4">

    <div class="row mb-3">
        <div class="col-md-12 d-flex justify-content-center">
            <a href="mailto:caiohenriquegomeslima@gmail.com" target="_blank">
                <img src="https://img.shields.io/badge/-Gmail-%23333?style=for-the-badge&logo=gmail&logoColor=white">
            </a>
            <a href="https://www.linkedin.com/in/caio-henrique-gomes-lima/" target="_blank">
                <img
                    src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white">
            </a>
            <a href="https://github.com/Caio042" target="_blank">
                <img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white">
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center text-white">
                Caio Lima
            </p>
        </div>
    </div>
</footer>