<nav class="navbar navbar-expand-lg navbar-light bg-secondary">


    <!-- BOTÃO COLAPSE-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--/BOTÃO COLAPSE-->



    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">



        <!--ÍCONE-->
        <ul class="navbar-nav mr-auto d-flex align-items-center fs-16">
            <li class="nav-item active">
                <img src="https://e7.pngegg.com/pngimages/549/17/png-clipart-social-media-avatar-social-network-computer-icons-communication-social-media-computer-network-black.png"
                    alt="avatar do usuário" class="img-fluid rounded-circle" width="50px" height="50px">
            </li>
        </ul>
        <!--/ÍCONE-->


        <!--NOME DO USUARIO E ICONE EDITAR-->
        <ul class="navbar-nav m-auto d-flex align-items-center fs-16">
            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white">Nome do usuário</p>
            </li>
            <li class="nav-item pl-3">
                <p class="m-0 text-white"> <i class="fa fa-pencil" aria-hidden="true"></i></p>
            </li>
        </ul>
        <!--/NOME DO USUARIO E ICONE EDITAR-->


        <!--BOTÃO SAIR-->
        <ul class="navbar-nav ml-auto d-flex align-items-center fs-16">
            <li>
                <a class="m-0 font-weight-bold text-white" href="">Sair <i class="fa fa-sign-out"
                        aria-hidden="true"></i></a>
            </li>
        </ul>
        <!--/BOTÃO SAIR-->




    </div>
</nav>